.hero1-text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px; /* Rectangle */
}
.hero1-btn {
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
  background: rgb(174, 123, 60);
  padding: 12px 36px;
}
